* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homePageContainer{
    width: 100%;
    height: 100%;
}

.bottomContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;

}
app-book-list{
    height: 100%;
    width: 60%;
    border: 1px solid red;
}
app-wish-list{
    margin-left: 2rem;
    height: 100%;
    width: 40%;
    border: 1px solid red;
}
