* {
  font-family: 'Londrina Shadow', cursive;
  font-style: italic;
}

h1 {
  font-size: 1rem;
  text-align: center;
}

#cardlist-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  text-align: center;
}

card {
  display: flex;
  width: 29em;
  max-width: 100%;
  position: relative;
}

@media screen and (max-width: 800px) {
  div {
    display: block;

  }
}
