.bookItemContainer {
   padding-block: 1rem;
    width: 100%;
    overflow: hidden;
    background-color: azure;
  }
  
  img {
    float: left;
    margin-right: 20px; 
  }
  
  .text {
    padding-top: 10px; 
  }