.bookItemContainer {
  padding-bottom: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: auto;
  // justify-content: flex-start;
  }
  
  .imageContainer {
    padding:1rem;
    width: 20%;
    height: 100%;
  }
  
  .textContainer {
    padding:1rem;
    width: 80%;
    height: 100%;
  }